 


 <div class="container py-5 mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-5 col-md-8">
            <div class="content">
                <h1>Password & Security</h1>


                <form (ngSubmit)="handleChangePassword(changePassword)" [formGroup]="changePassword">
                    <label for="Cpassword" class="mb-2">Current Password</label>
                    <input formControlName="currentPassword" type="password" id="Cpassword" class="form-control mb-3">

                    <div *ngIf="changePassword.get('currentPassword')?.errors &&  changePassword.get('currentPassword')?.touched" >
                        <p *ngIf="changePassword.get('currentPassword')?.getError('pattern') " class="m-0">*Current  Password must start with uppercase then from 5 to 10</p>
                        <p *ngIf="changePassword.get('currentPassword')?.getError('required')" class="m-0">*Current  Password is required</p>
                       </div>
                    
                  

                    <label for="Npassword" class="mb-2">New Password</label>
                    <input formControlName="password"  type="password" id="Npassword" class="form-control mb-3">
                    <div *ngIf="changePassword.get('password')?.errors &&  changePassword.get('password')?.touched" >
                        <p *ngIf="changePassword.get('password')?.getError('pattern') " class="m-0">*Password must start with uppercase then from 5 to 10</p>
                        <p *ngIf="changePassword.get('password')?.getError('required')" class="m-0">*Password is required</p>
                       </div>
                    
                    


                    <label for="Copassword" class="mb-2">Confirm New Password</label>
                    <input formControlName="rePassword"  type="password" id="Copassword" class="form-control mb-3">
                    <div *ngIf="changePassword.get('rePassword')?.errors &&  changePassword.get('rePassword')?.touched" >
                        <p *ngIf="changePassword.get('rePassword')?.getError('pattern') " class="m-0">*Confirm  Password must start with uppercase then from 5 to 10</p>
                        <p *ngIf="changePassword.get('rePassword')?.getError('required')" class="m-0">*Confirm  Password is required</p>
                        <p *ngIf="changePassword.get('rePassword')?.getError('passwordMatch')" class="m-0">Repassword doesn<sup>,</sup>t match</p>
                       </div>
                    



                    <button [disabled]="changePassword.invalid" type="submit">Update</button>


                </form>


            </div>
        </div>
    </div>
 </div>
