

<div class="container pt-5 mt-5 ">
    <div class="row g-0">
        <div class="col-md-8  ">
            <owl-carousel-o [options]="customOptions">
                <ng-template   carouselSlide> 
                    <div class="slide1 ">
                         <div class="row">
                            <div class="col-md-9">
                                <div class="content">
                                    <div class="logo">
                                        <i class="fa-brands fa-opencart"></i>
                                        <span>Fresh Cart</span>
                                    </div>
                                    <p >Whether you’re looking for the freshest produce, pantry staples, or specialty items, 
                                        FreshCart brings the supermarket to you, redefining the way you shop for groceries.</p>
                                        <button>Get Started</button>
                                </div>
                            </div>
                         </div>
                    </div>
                </ng-template>  
                <ng-template  carouselSlide >
                    <div class="slide2">

                    </div>
                </ng-template>  
                <ng-template  carouselSlide>
                    <div class="slide3">

                    </div>
                 </ng-template>  
              </owl-carousel-o>
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/product5-DZxbnV6L.jpg" class="w-100 img1" alt="">
            <img src="../../assets/images/product4-CxeAzYXu.jpg" class="w-100 img1 " alt="">
            
        </div>
    </div>
</div>