h2{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.75rem;
    margin-bottom: 20px !important;
    color: rgb(8, 47, 73 , 1)
}
.owl{
    background-color: rgb(240 ,243 ,242,1)
}
.owl h6{
    color: rgb(8, 47, 73 , 1)
}